
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/wiki' | prepend: site.baseurl | prepend: site.url }}">Wiki</a></li>
      <li><a href="{{ '/list' | prepend: site.baseurl | prepend: site.url }}">ServerList</a></li>
      <li><a href="https://github.com/zjl88858/tjserver-pages/issues">Issue</a></li>
      <li><a href="{{ "/donate" | prepend: site.baseurl | prepend: site.url }}">Donate</a></li>
    </ul>
  </div>
</nav>
